.summerfest {
    font-family: 'Futura Today', Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 82px 0 42px 0;
}
/*
Header
*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    font-size: 16px;
    color: #fff;
    background: #004074;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}
.header--logo {
    display: inline-block;
    height: 20px;
    width: auto;
    position: relative;
    top: 6px;
}
.header--color {
    color: #f74c4b;
}
@media(max-width: 330px) {
    .header { 
        font-size: 14px;
    }
    .header--logo {
        height: 16px;
        top: 4px;
    }
}
/*
Datebar
*/
.datebar {
    position: fixed;
    top: 32px;
    left: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #004074;
    overflow-x: auto;
    white-space: nowrap;
    background: #fff;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}
.datebar--item {
    display: inline-block;
    position: relative;
    min-width: 42px;
    margin: 5px 4px;
    padding: 16px 10px 4px 10px;
    color: #004074;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #004074;
    user-select: none;
    outline: none;
}
.datebar--item:focus {
    outline: none;
}
.datebar--top {
    position: absolute;
    top: 0;
    height: 14px;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 10px;
    line-height: 12px;
    color: white;
    background: #004074;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    font-family: 'Futura Today Light', Arial, Helvetica, sans-serif;
}
.datebar--active {
    color: #f74c4b;
    border: 1px solid #f74c4b;
}
.datebar--active .datebar--top {
    background: #f74c4b;
}
/*
actlist
*/
.actlist--empty {
    padding: 50% 30px 0 30px;
    text-align: center;
}
.actlist--item {
    position: relative;
    display: table;
    width: 100%;
    border-bottom: 1px solid #004074;
}
.actlist--item:last-of-type {
    border-bottom: 0;
}
.actlist--inner {
    display: table-row;
}
.actlist--left {
    display: table-cell;
    width: 50px;
    padding: 5px;
    text-align: right;
    vertical-align: top;
}
.actlist--time {
    font-size: 20px;
}
.actlist--suffix {
    position: relative;
    top: -5px;
    font-size: 12px;
    text-transform: uppercase;
}
.actlist--right {
    display: table-cell;
    padding: 5px;
    text-align: left;
}
.actlist--artist {
    font-family: 'Futura Today Bold', Arial, Helvetica, sans-serif;
}
.actlist--stage {
    font-size: 14px;
}
.actlist--inner .fa {
    margin-right: 5px;
}
.actlist--headliner,
.actlist--local,
.actlist--pick,
.actlist--genre,
.actlist--bio {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    padding: 4px;
    margin-right: 6px;
    color: #fff;
    text-transform: uppercase;
    background: #f74c4b;
}
.actlist--local {
    background: #004074;
}
.actlist--pick {
    background: green;
}
.actlist--genre {
    background: #999;
}
.actlist--favorite {
    float: right;
    font-size: 20px;
    line-height: 20px;
    padding-left: 5px;
    color: #999;
    vertical-align: middle;
}
.actlist--favorite .fa-star {
    color: #f74c4b;
}
.actlist--bio {
    padding: 3px;
    color: #222;
    border: 1px solid #222;
    text-transform: uppercase;
    background: #fff;
}
.act-biowrapper {
    display: none;
}
.act-bioleft {
    display: table-cell;
    width: 50px;
}
.act-bioright {
    display: table-cell;
    font-size: 14px;
    padding: 0px 5px 5px 5px;
}
.actlist-more .act-biowrapper {
    display: table-row;
}
/*
stages, genres
*/
.filter--stage,
.filter--genre {
    position: fixed;
    z-index: 1;
    bottom: 40px;
    left: 0;
    right: 0;
    height: 232px;
    transform: translateY(232px);
    transition: all .2s ease-in-out;
    background: #fff;
}
.stage--visible,
.genre--visible {
    transform: translateY(0);
}
.stage--title,
.genre--title {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Futura Today Light', Arial, Helvetica, sans-serif;
    border-top: 1px solid #004074;
    border-bottom: 1px solid #004074; 
    background: #fff;
}
.stage--list,
.genre--list {
    margin-top: 32px;
    height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.stage--item,
.genre--item {
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid #004074
}
.stage--item .fa,
.genre--item .fa {
    margin:0 10px 0 5px;
    color: #f74c4b;
}
.stage--hiddenicon,
.genre--hiddenicon {
    visibility: hidden;
}
/*
footer
*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 40px;
    border-top: 1px solid #004074;
    background: #fff;
}
.footer--item {
    display: inline-block;
    width: 20%;
    text-align: center;
    color: #004074;
    user-select: none;
}
.footer--item:last-of-type {
    border-right: 0;
}
.footer--icon {
    position: relative;
    top: -6px;
    font-size: 20px;
    line-height: 40px;
}
.footer--name {
    position: relative;
    bottom: 14px;
    left: 0;
    right: 0;
    font-family: 'Futura Today Light', Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}
.footer--active {
    color: #f74c4b;
}
